.rezept {
    width: 100%;
    text-align: center;
}

.nazvrezept {
    text-align: center;
    font-size: 150%;
    font-weight: 300;
    font-style: italic;
    font-family: Georgia, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 6px;
    color: #EF7F00;
}

.ingredientrezept { width: 60%;
    margin: 5px auto;
    text-align: left;
    font-size: 130%;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;}

.fotorezept img {
    width: 60%;
    margin: 4px auto;
    border: 4px solid transparent;
    -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
    -o-border-image: -o-linear-gradient(top left, #FFDE00, #F67E00 100%);
       border-image: -webkit-gradient(linear, left top, right bottom, from(#FFDE00), to(#F67E00));
       border-image: linear-gradient(to bottom right, #FFDE00, #F67E00 100%);
    border-image-slice: 1;
    text-align: center;
}

.textrezept {
    width: 60%;
    margin: 5px auto;
    text-align: left;
    font-size: 130%;
    font-weight: 300;
    font-style: italic;
    font-family: Georgia, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.textrezept li {
    margin: 5px;
}
 
 .soderg { width: 100%;
    border-bottom: 4px solid transparent;

    -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
    -o-border-image: -o-linear-gradient(top left, #FFDE00, #F67E00 100%);
    border-image: -webkit-gradient(linear, left top, right bottom, from(#FFDE00), to(#F67E00));
    border-image: linear-gradient(to bottom right, #FFDE00, #F67E00 100%);
    border-image-slice: 1;
    text-align: center;
    font-size: 120%;
    font-weight: 300;
    font-style: italic;
    font-family: Georgia, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 6px;
    color: #EF7F00;}
    
    .soderg a {color: #EF7F00;}
    
    .vverh {position: fixed;
    /* относительно правого края панели */
    left: 0px;
    /* отступ от верхнего края панели */
    top: 35em;
    /* внутренние отступы */
    padding: 0.5em;
   
    border:1.5px solid #FBDE00;
    background: #FDF5B2;
    /* цвет текста */
    color: black;
    /* вид курсора */
    cursor: pointer;
    /* размер шрифта */
    font-size: 1.2em;
    line-height: 1;
    /* всегда поверх других элементов страницы */
    z-index: 2001;
    /* анимируем цвет текста при наведении */
    -webkit-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;}
    
    .vverh a{text-decoration: none;
       color: #EF7F00;
    }